h2{
  font-size: 2em;
  margin:0;
}


#size-button{
  //border-style: solid;
  border-radius: 20px;
  background: #888;
  height: 0.5em;
  width: 0.5em;
  margin-right: 0.5em;
  float: right;
  cursor:pointer;
}
#theme-button{
  //border-style: solid;
  border-radius: 0px;
  background: #888;
  height: 0.5em;
  width: 0.5em;
  margin-right: 0.2em;
  float: right;
  cursor:pointer;
}
