span {
  font-size: 1.2em;
  font-style: bold;

}
sup {
  top:0.2em;
  font-size: 1.4em;
}
#icon{
  float: left;
  margin-top: 0em;
}
#temperature{
  float: left;
  font-size: 3.5em;
  display: inline-block;
  color: #333;
  padding-top:0;
  margin-top: -0.3em;
}

i {
  font-size: 3em;
  padding: 0;
  margin-right: 0.2em;
}

#deg-c, #deg-f{
  color: #ddd;
  -ms-user-select: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 cursor: pointer;
}

.selected {
  color: #111 !important;
}
