<section>
  <div id="appmain" class="container">
        <div class="row">
          <div id="search-box" class="col s12">
            <wa-country-entry></wa-country-entry>
          </div>
          <div id="country-info-box" class="col s12">
            <wa-country-info></wa-country-info>
          </div>
          <div id="todays-weather-box" class="col s7">
            <wa-todays-weather></wa-todays-weather>
          </div>
          <div id="selector-box" class="col s5">
            <div class="row">
              <div class="col s12">
                <wa-selector mode="pressure"></wa-selector><br>
              </div>
              <div class="col s12">
                <wa-selector mode="humidity"></wa-selector><br>
              </div>
              <div class="col s12">
                <wa-selector mode="wind"></wa-selector>
              </div>
            </div>
          </div>
          <div id="chart-box" class="col s12">
            <wa-chart></wa-chart>
          </div>
          <div id="day-selector-box" class="col s12">
            <wa-day-selector></wa-day-selector>
          </div>
        </div>
  </div>
</section>
