<section>
  <div id="appmain" class="container {{selectedTheme}} {{selectedSize}}">
    <div class="row">
      <div id="search-box" class="col s12">
        <wa-country-entry></wa-country-entry>
      </div>
      <div id="country-info-box" class="col s12" [class.loading]="loading">
        <wa-country-info></wa-country-info>
      </div>
      <div id="todays-weather-box" class="col s7 {{selectedSize}}" [class.loading]="loading">
        <wa-todays-weather></wa-todays-weather>
      </div>
      <div id="selector-box" class="col s5 {{selectedSize}}" [class.loading]="loading">
        <div class="row">
          <div class="col s12">
            <wa-selector mode="pressure"></wa-selector><br>
          </div>
          <div class="col s12">
            <wa-selector mode="humidity"></wa-selector><br>
          </div>
          <div class="col s12">
            <wa-selector mode="wind"></wa-selector>
          </div>
        </div>
      </div>
      <div id="chart-box" class="col s12 {{selectedSize}}" [class.loading]="loading">
        <wa-chart></wa-chart>
      </div>
      <div id="day-selector-box" class="col s12" [class.loading]="loading">
        <wa-day-selector></wa-day-selector>
      </div>
      <div id="loader" class="preloader-wrapper big active loader" [class.hidden]="loading">
        <div class="spinner-layer spinner-blue-only" [class.hidden]="loading">
          <div class="circle-clipper left" [class.hidden]="loading">
            <div class="circle" [class.hidden]="loading"></div>
          </div><div class="gap-patch" [class.hidden]="loading">
            <div class="circle" [class.hidden]="loading"></div>
          </div><div class="circle-clipper right" [class.hidden]="loading">
            <div class="circle" [class.hidden]="loading"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
